force-app/main/default/flows/Opportunity_Email_Acknowledgment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Opportunity_Email_Acknowledgment</name>
        <label>Email Acknowledgment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_Email_Acknowledgment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Email_Acknowledgment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Emails an acknowledgement to the Primary Contact for an Opportunity when the Acknowledgement Status is set to Email Acknowledgement Now.</description>
    <environments>Default</environments>
    <formulas>
        <name>Opportunity_Acknowledgment_Date_UpdateFormula</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Opportunity: Email Acknowledgment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Email Acknowledgment</label>
    <migratedFromWorkflowRuleName>Opportunity Email Acknowledgment</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Acknowledgment_Date_and_Status</name>
        <label>Set Acknowledgment Date and Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Email_Acknowledgment</targetReference>
        </connector>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>Opportunity_Acknowledgment_Date_UpdateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Acknowledgment_Date_and_Status</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>TEXT({!$Record.npsp__Acknowledgment_Status__c}) = {!$Label.npsp__sendAcknowledgmentFireStatus} &amp;&amp;  {!$Record.npsp__Primary_Contact__r.Email} &lt;&gt; NULL &amp;&amp;  {!$Record.npsp__Primary_Contact__r.npsp__Do_Not_Contact__c} &lt;&gt; True &amp;&amp;  {!$Record.npsp__Primary_Contact__r.HasOptedOutOfEmail} &lt;&gt; True &amp;&amp;  {!$Record.npsp__Primary_Contact__r.npsp__Deceased__c} &lt;&gt; True</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
